<% 
  ddns_settings = DdnsSettings.instance
  ddns_status = ddns_settings.status
%>

<!-- Status Indicator Only -->
<% case ddns_status %>
<% when :healthy %>
  <div class="w-2 h-2 bg-green-400 rounded-full animate-pulse" title="Healthy"></div>
<% when :updating %>
  <div class="w-2 h-2 bg-yellow-400 rounded-full animate-pulse" title="Updating"></div>
<% when :error %>
  <div class="w-2 h-2 bg-red-400 rounded-full animate-pulse" title="Error"></div>
<% when :stopped %>
  <div class="w-2 h-2 bg-orange-400 rounded-full" title="Stopped"></div>
<% when :disabled %>
  <div class="w-2 h-2 bg-gray-500 rounded-full" title="Disabled"></div>
<% else %>
  <div class="w-2 h-2 bg-gray-500 rounded-full" title="Unknown"></div>
<% end %>
