<!-- Sidebar navigation -->
<ul class="sidebar-nav">
  <li><a href="/">Home</a></li>
  <li><span class="text-gray-400">Dynamic DNS (Soon)</span></li>
  <li><span class="text-gray-400">Reverse Proxy (Soon)</span></li>
  <!-- ...other sidebar items... -->
</ul>
